.fieldInput {
    margin-left: 38.3%;
    width: 25%;
    padding-bottom: 1.5%;
 }

 .fieldTopInput {
    margin-left: 38.3%;
    width: 25%;
    padding-bottom: 1.5%;
    padding-top: 2%;
 }
 .UploadButton {
    padding-top: 2.1% ;
    padding-left: 46.3%;
 }

 .SumbitButton {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 46.76%;
 }