.fieldInput {
    margin-left: 38.3%;
    width: 25%;
    padding-bottom: 1.5%;
 }

 .fieldTopInput {
    margin-left: 38.3%;
    width: 25%;
    padding-bottom: 1.5%;
    padding-top: 2%;
 }
 .UploadButton {
    padding-top: 2.1% ;
    padding-left: 46.3%;
 }

 .SumbitButton {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 46.76%;
 }

 #fileList, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font: xx-large; */
    font-size: 2rem;
    color: red;
    margin-top: 3rem;
    text-decoration: none;
 }

 /* width: '30%', position: 'fixed', left: '34%', height: '3%' */
 .checkInput {
    width: 30%;
    position: 'fixed'; 
    left: 34%;

}

#showCheckState {
    margin-top: 8%;
    width: 30%;
}

.form-container{
    /* background-color: blueviolet;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.m-icon-size{
    width: 12.5%;
    /* border: 10px solid black; */
}

.wrap-input{
    align-items: center;
    width: 50%;
}

#SetCarousel {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 8%;
    width: 100%;
}

#SetFieldCopy {
    margin-top: 2.5%;
}

#SetFieldQuo {
    margin-top: 0.5%;
    margin-bottom: 2%;
    margin-left: 43.2%;
}

#SetSubmitOrder {
    margin-top: 1.2%;
    margin-bottom: 2.5%;
    margin-left: 46.8%;
}

#emailLogin{
    margin-top: 10%;
    margin-bottom: 3%;
}

#passLogin{
    margin-bottom: 3%;
}

#Login{
    margin-bottom: 29%;
    margin-left: 140%;
}