#setBG{
    width: 100%;
 }

 .setGreenBG {
  background-image: url("../images/greenBG.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 .setBGCustomer {
  background-image: url("../images/customerWelcomeBG.png");
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 #SetTopic {
  font-family: 'K2D', sans-serif;
  font-size: 800%;
  font-weight: 900;
  color: darkslategrey;
  padding-top: 4%;
  padding-left: 30%;
 }

 #SetSent {
  font-family: 'K2D', sans-serif;
  font-size: 220%;
  font-weight: 300;
  padding-top: 1.5%;
  color: rgb(17, 119, 94);
  padding-left: 40%;
 }

 #setBgWelcomePage{
  width: 100%;
  margin-top: 3%;
}

 #setBGcheck{
  width: 100%;
  /* top: 50vh; */
  /* margin-top: 1%; */
  bottom: 0;
  position: absolute;
}

.test{
  background-color: red;
  height: 50vh;
  color: red;
}

#setHomeIcon{
    margin-left: 88%;
    margin-bottom: 0.9%;
    width: 12.5%;
 }

 #setHomeIconCheck{
  /* margin-left: 88%; */
  /* margin-bottom: 0.9%; */
  /* margin-top: 5%; */
  /* width: 12.5%; */
}

#allBGWelcome {
  background-color: #ffe1e1;
  height: 100vh;

}

#setHomeIcon:hover {
    opacity: 0.75;
  }

#logoWelcome{
  width: 25%;
  margin-left: 37.9%;
  margin-top: 5%;
  margin-bottom: -3%;
}

#logoWelcome:hover {
  opacity: 0.75;
}

#logoWelcomeCustomer{
  width: 35%;
  margin-left: 33%;
  margin-top: 3.2%;
  margin-bottom: -4.5%;
  
}

#logoWelcomeCustomer:hover {
  opacity: 0.75;
}

#logoOrder{
  width: 20%;
  margin-right: 15%;
  margin-left: 22.5%;
  margin-top: 3%;


}

#logoOrder:hover {
  opacity: 0.75;
}

#logoCheck{
  width: 20%;
  margin-top: 3%;

}

#logoCheck:hover {
  opacity: 0.75;
}

#allBgColor{
  background-color: #ffe1e1;
}

.setImgBG{
  background-image: url(../images/welcomePage.png);
}

#welcomeBotton {
  margin-top: 20%;
  margin-left: 40%;
  margin-bottom: 30%;

  height: 80px;
  width:  30px;
}

#welcomeBottonTemp {
  margin-top: 65%;

}

#CarouselStateTable {
  margin-left: 1.4%;
  margin-top: 1.4%;
  margin-bottom: 1%;
}

